-
	var icons = [
		{
			"src": "assets/application/icon-72x72.png",
			"sizes": "72x72",
			"type": "image/png"
		},
		{
			"src": "assets/application/icon-96x96.png",
			"sizes": "96x96",
			"type": "image/png"
		},
		{
			"src": "assets/application/icon-128x128.png",
			"sizes": "128x128",
			"type": "image/png"
		},
		{
			"src": "assets/application/icon-144x144.png",
			"sizes": "144x144",
			"type": "image/png"
		},
		{
			"src": "assets/application/icon-152x152.png",
			"sizes": "152x152",
			"type": "image/png"
		},
		{
			"src": "assets/application/icon-192x192.png",
			"sizes": "192x192",
			"type": "image/png"
		},
		{
			"src": "assets/application/icon-384x384.png",
			"sizes": "384x384",
			"type": "image/png"
		},
		{
			"src": "assets/application/icon-512x512.png",
			"sizes": "512x512",
			"type": "image/png"
		}
	];
doctype html
html(lang="pt-br")
	head
		block title
			-var title = '$projectName';
		//- block title

		block theme
			-var $theme = '#C219E9';
		//- block $theme

		title #{title}

		meta(charset="utf-8")

		meta(name="description" content=`Descrição do projeto ${title}`)

		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="msapplication-tap-highlight" content="no")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="format-detection" content="telephone=no")

		// manifest
		link(rel="manifest" href="assets/application/manifest.json")

		link(rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico")

		// add to home screen (ios)
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-title" content=title)
		meta(name="apple-mobile-web-app-status-bar-style" content=$theme)
		link(rel="apple-touch-icon" href="assets/application/icon-152x152.png")

		// add to home screen (chrome)
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="application-name" content=title)
		meta(name="theme-color" content=$theme)

		// Tile icon for Win8 (144x144 + tile color)
		meta(name="msapplication-TileImage" content="assets/application/icon-144x144.png")
		meta(name="msapplication-TileColor" content=$theme)

		// ICONS
		each icon in icons
			-var icone = icon;
			link(rel="icon" sizes=icon.sizes type=icone.type href=icone.src)

		// PRELOADING
		link(rel="preload" as="script" href="assets/js/jquery.min.js")
		link(rel="preload" as="script" href="assets/js/bootstrap.min.js")
		link(rel="preload" as="script" href="assets/js/scripts.min.js")

		link(rel="preload" as="style" href="assets/css/estilos.css")

		// CSS
		link(rel="stylesheet" href="assets/css/estilos.css")
	//- head
	// colocar no attr [data-path] a url do site para poder fazer o lazyload de scripts sem problemas de rota.
	body(data-path="http://localhost:9000")
		include ../mixins/mixins.pug
		include inline-injected.pug

		noscript
			style .noscript{position: sticky;top:0;z-index: 1200;background: #D32F2F;color: #FFF;padding: 20px;text-align: center}
			.noscript
				p.h1 (&gt;_&lt;) Ops....
				p Seu navegador está com os scripts desabilitados! Para ter uma melhor experiencia com o nosso site, por favor, habiliete-os.
			//- .noscript
		//- noscript

		//  [if lt IE 10]><style>.ie-message{position: sticky;top: 0;z-index: 1200;background: #FF9800;color: #FFF}</style><div class="ie-message"><p class="h1"><em>Atenção!!!</em></p><p>Seu navegador está desatualizado! Para ter uma melhor experiência com o nosso site, por favor atualize-o para a última versão do Microsoft Edge.</p></div><![endif]

		#app.loading
			include header.pug
			template
				main.wrapper
					block conteudo
						h1 Caro desenvolvedor frontend
						p #[strong NÂO] se esqueça de trocar a cor do $theme e tão pouco de trocar os icones de Application ou favicon
						// conteudo do site aqui!
				///main.wrapper

			include footer.pug

			msg-cookies Utilizamos cookies para personalizar anúncios e melhorar a sua experiência no site. Ao continuar navegando, você concorda com a nossa #[a(href="politica-de-privacidade.html") Política de Privacidade]
		///#app

		script(src="assets/js/jquery.min.js")
		script(src="assets/js/bootstrap.min.js")
		script(src="assets/js/scripts.min.js")
	//- body
